.navbar {
  background-color: #333;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
}

.navbar-heading {
  flex-shrink: 0;
}

.navbar-heading h1 {
  color: #f39c12;
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 1rem;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-item a:hover {
  background-color: #575757;
}

.logout-item {
  margin-left: auto;
}

.logout-item a {
  color: red;
}

/* Add some padding to the top of the page content to prevent it from being hidden under the fixed navbar */
body {
  padding-top: 70px;  /* Adjust this value based on your navbar height */
  margin: 0;
  box-sizing: border-box;
}

/* Hamburger menu styles */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle.open .bar {
  background-color: #f39c12;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar-list {
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .navbar-list.open {
    height: calc(100vh - 60px);
  }

  .navbar-item {
    margin: 0;
  }

  .navbar-item a {
    padding: 1.5rem;
    text-align: center;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-heading {
    flex-grow: 1;
  }
}
